@model List<Story>

@{
    ViewData["Title"] = "Happy Tails";
}


<h1>Happy Tails</h1>
<p>Learn more about our successful adoptions or <a asp-controller="Rescue" asp-action="HappyTail">share your story!</a></p>

@foreach (Story happyTail in Model)
{
    <hr />
    <div class="happy-tail">
        <h3>@happyTail.Title</h3>
        <p>@happyTail.FileName</p>
        <p>@happyTail.Text</p>
        <div class="row">
            <div class="col">@happyTail.UserName.Name</div>
            <div class="col">@happyTail.Date</div>
        </div>
    </div>
}
